* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background-color: #aab7d1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000;
}

/* Cabeçalho */
.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.foto-container {
  background-color: #818cd1;
  border-radius: 40px;
  text-align: center;
  padding: 20px 40px;
}

.foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.icones img {
  width: 25px;
  margin: 5px;
}

/* Botão Sobre Mim */
.sobre {
  text-align: center;
  margin: 30px 0;
}

.btn-sobre {
  background-color: #5a64c9;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 30px;
  cursor: pointer;
}

.btn-sobre:hover {
  background-color: #444fa8;
}

/* Botões inferiores */
.botoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.botoes button {
  background-color: #818cd1;
  border: none;
  color: #000;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.botoes button:hover {
  background-color: #5a64c9;
  color: rgb(0, 0, 0);
}

/* Rodapé */
footer {
  background-color: #272a90;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
  font-size: 12px;
}

footer p {
  margin: 3px 0;
}
