/* RESET E CONFIGURAÇÕES BÁSICAS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  background-color: #fff;
}

/* MENU SUPERIOR */
header {
  background-color: #1b2d75;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  transition: background 0.3s;
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* ÍCONES DE REDES SOCIAIS */
.social a img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.social a img:hover {
 transform: scale(1.15);
  filter: drop-shadow(0 0 5px #ffffff);
}
/* SEÇÃO PRINCIPAL */

.hero {
  min-height: 100vh;
  background-image: url(fotoprincipal.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 80px;
  border-radius: 5px;
  text-align: center;
}

.overlay h1 {
  font-size: 42px;
  color: #111;
  font-weight: bold;
}

/* RODAPÉ */
footer {
  background-color: #1b2d75;
  color: white;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
}

footer a {
  color: #b9c9ff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
